*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: 
#1A0B2E;
    padding: 16px 200px 16px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo img{
    width: 319px;
    height: 32px;

}
.menu {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 32px;
   
}
nav .menu li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}
.btn{
    padding: 3px 12px 3px 12px;
    width: 130px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    font-size: 16px;
    font-style: 600px;
    border-radius: 100px;
    color: #ffffff;
    border-radius: 100px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));}

#banner {
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    height: 730px;

}
.banner-img{
    /* display: flex;
    justify-content: center;
     */
}
 .banner-img .banner-circle{
    /* padding: 101px 625px 309px 625px; */
    width: 350px;
    /* box-sizing: border-box; */
    position: relative;
    left: 680px;
    top: 100px;
    display: flex;
    justify-content: center;
 }
 .banner-mic{
    position: relative;
    z-index: 5;
    left: -230px;
    top: 90px;
 }
.new{
    position: relative;
    z-index: 10;
    left: 130px;
    top: -270px;

}
.banner-content{
    padding: 170px 525px 170px 525px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24;

}
.banner-content h1{
    color: #ffffff;
    font-size: 80px;
    text-align: center;
}
.banner-content p{
    padding: 8px 88px;
    color: #ffffff5f;
    font-size: 15px;
    font-style: Regular;
    line-height: 19px;
    white-space: nowrap;
    text-align: center;
}
.banner-content .banner-button{
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 8px;
}
.banner-button .button-1{
    width: 201px;
    height: 40px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.banner-button .button-2{
    width: 147px;
    height: 40px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #00ff88;
    background-color: black;
    border-radius: 100px;
    border: solid #00ff88;
}
/* About section */
#about{
    background-color:  #1A0B2E;
    padding: 50px 200px 120px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

}
.about-container h2{
   max-width: 1200px;
   /* height: 39px; */
   color: #ffffff;
   font-size: 48px;
   line-height: 58px;
   text-align: center;
   text-transform: capitalize;
   margin-bottom: 60px;
}
.about-container p{
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
}
.rating-item{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;  
}
.rating-item .item{
    text-align: center; 
    margin-top: 80px;  
    
}
.rating-item .item h3{
    color: #0bd074;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-align: center;
}
.rating-item .item p{
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;

}
/* Why Choose Section */
#choose{
    background-color: #230E3D;
    max-width: 1600px;
    margin: 0 auto;
    padding-bottom: 120px;
}
.choose-container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 120px;
}
.choose-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 32px;
    margin-top: 40px;
    color: #351165;
    
}
.headphone{
    grid-row: span 2;
    padding: 110px 40px;
    background-color: #2c0c56; 
    border-radius: 40px;
}
.phone{
    grid-column: span 2;
    padding: 40px;
    background-color: #2c0c56; 
    border-radius: 40px
}
.globe{
    grid-column: span 2;
    padding: 40px;
    background-color: #2c0c56; 
    border-radius: 40px
}
.exclusive{
    grid-column: span 2;
    padding: 40px;
    background-color: #2c0c56; 
    border-radius: 40px
}
.resources{
    padding: 40px;
    background-color: #2c0c56; 
    border-radius: 40px
}
.choose-container .title h2{
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;

}
.choose-card h3 {
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 10px;
}
.choose-card p{
    color: #ffffff70;
    font-size: 16px;
}
/* Featured Episode */
#featured{
    background-color: #1A0B2E;
    max-width: 1600px;
    margin: 0 auto;
}
.featured-container{
    padding-top: 120px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
.featured-container .episode-title{
    width: 1200px;
    height: 59px;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}
.featured-box{
   display: flex; 
   justify-content: center;
   align-items: center;
   gap: 30px;
   margin: 0 auto;
   padding-bottom: 120px;  
}
.featured-card{
    background-color: #260c48;
    border-radius: 24px; 
    overflow: hidden;
    width: 380px;
}
.episode-card .title{
    margin-top: 24px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    
}
.episode-card p{
  margin-top: 12px;
  color: #ffffff78;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.clock{
    margin: 12px;
    display: flex;
    align-items: center;
    color: #00ff88;
    gap: 8px;
    
}
.clock img{
    width: 20px;
    height: 20px;
}
.clock p{
    margin: 0;
    color: #00ff88;
    font-size: 16px;
    font-weight: 600;
    width: 53px;
    height: 24px;  
}
/* Host Section */
#host{
    background-color: #1A0B2E;
    max-width: 1600px;
    margin: 0 auto;
}
.host-container{
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 120px;
}
.title h3{
    color: #ffffff;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    line-height: 58px;
    text-transform: capitalize;
}
.host-content{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 40px;
    background-color: #260c48 ;
    padding: 40px;
    height: 300px;
    border-radius: 40px;
}
.host-content .image{
    width: 200px;
    height: 200px;
}
.host-content h3{
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 12px;
}
.host-content p{
    color: #ffffff7b;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-transform: capitalize;
}
.host-icon{
    margin-top: 16px;
    display: flex;
    justify-content:flex-start;
    gap: 8px; 
}
.host-icon .icon{
    border: solid #533c72;
    border-radius: 100px;
    padding: 8px 10px;
}










 