*{
    margin: 0;
    padding: 0;
    background-color: #412567;
}
nav{
    
    padding: 16px 200px 16px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 319px;
    height: 32px;

}
.menu {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 32px;
   
}
nav .menu li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}
.btn{
    padding: 3px 12px 3px 12px;
    width: 130px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    font-size: 16px;
    font-style: 600px;
    border-radius: 100px;
    color: #ffffff;
    border-radius: 100px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
/* @media (min-width:1024px){
   .menu-icon{
    display: none;
   }
 } */

#banner{
    padding: 16px 200px 16px 200px;
    background-image: url(../assets/hero-bg.png);
}

 /* .circle{
    width: 350px;
    height: 350px;
  
    
 }
 .mic {
    position: absolute;
 } */
