*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #1A0B2E;
    padding: 16px 200px 16px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo img{
    width: 319px;
    height: 32px;

}
.menu {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 32px;
   
}
nav .menu li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.btn{
    padding: 3px 12px 3px 12px;
    width: 130px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    font-size: 16px;
    font-style: 600px;
    border-radius: 100px;
    color: #ffffff;
    border-radius: 100px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));}

.menu-icon {
    display: none;
}


/* Banner Section */
#banner {
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 750px;
    padding-block: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    color: #fff;
}
.banner-image-parent{
    position: relative; 
    margin-top: 227px;


}
.circle-image{
    position: absolute;
    width: 350px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 

}
.mic-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: auto;
}
.new{
    position: absolute;
    background-color: #00ff88;
    padding: 8px 16px;
    border-radius: 100px;
    color: black;
    top: -136px;
    left: 100px;
    font-size: 18px;
    font-weight: 600;
}
.banner-content{
    padding: 170px 525px 170px 525px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24;

}
.banner-content h1{
    color: #ffffff;
    font-size: 80px;
    text-align: center;
}
.banner-content p{
    padding: 8px 88px;
    color: #ffffff49;
    font-size: 15px;
    font-style: Regular;
    line-height: 19px;
    white-space: nowrap;
    text-align: center;
}
.banner-content .banner-button{
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 8px;
}
.banner-button .button-1{
    width: 201px;
    height: 40px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.banner-button .button-2{
    width: 147px;
    height: 40px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #00ff88;
    background-color: black;
    border-radius: 100px;
    border: solid #00ff88;
}
/* About section */
#about{
    background-color:  #1A0B2E;
    padding: 50px 200px 120px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

}
.about-container h2{
   max-width: 1200px;
   /* height: 39px; */
   color: #ffffff;
   font-size: 48px;
   line-height: 58px;
   text-align: center;
   text-transform: capitalize;
   margin-bottom: 60px;
}
.about-container p{
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
}
.rating-item{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-around;
    align-items: center;
     
}
.rating-item .item{
    text-align: center; 
    margin-top: 80px;  
    
}
.rating-item .item h3{
    color: #0bd074;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-align: center;
}
.rating-item .item p{
    color: #fffffff2;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    /* text-transform: uppercase; */


}
/* Why Choose Section */
#choose{
    background-color: #230E3D;
    max-width: 1600px;
    margin: 0 auto;
    padding-bottom: 120px;
}
.choose-container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 120px;
}
.choose-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 32px;
    margin-top: 40px;
    color: #351165;
    
}
.headphone{
    grid-row: span 2;
    padding: 40px;
    background-color: #2c0c56; 
    border-radius: 40px;
}
.phone{
    grid-column: span 2;
    padding: 40px;
    background-color: #2c0c56; 
    border-radius: 40px
}
.globe{
    grid-column: span 2;
    padding: 40px;
    background-color: #2c0c56; 
    border-radius: 40px
}
.exclusive{
    grid-column: span 2;
    padding: 40px;
    background-color: #2c0c56; 
    border-radius: 40px
}
.resources{
    padding: 40px;
    background-color: #2c0c56; 
    border-radius: 40px
}
.choose-container .title h2{
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;

}
.choose-card h3 {
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 10px;
}
.choose-card p{
    color: #ffffff70;
    font-size: 16px;
}
/* Featured Episode */
#featured{
    background-color: #1A0B2E;
    max-width: 1600px;
    margin: 0 auto;
}
.featured-container{
    padding-top: 120px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
.featured-container .episode-title{
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}
.featured-box{
   display: flex; 
   justify-content: center;
   align-items: center;
   gap: 30px;
   margin: 0 auto;
   padding-bottom: 120px;  
}
.featured-card{
    background-color: #260c48;
    border-radius: 24px; 
    overflow: hidden;
    width: 380px;
    
}
.episode-card .title{
    margin-top: 24px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    
}
.episode-card{
    padding: 0 10px;
}
.episode-card p{
  margin-top: 12px;
  color: #ffffff78;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.clock{
    margin: 12px;
    display: flex;
    align-items: center;
    color: #00ff88;
    gap: 8px;
    
}
.clock img{
    width: 20px;
    height: 20px;
}
.clock p{
    margin: 0;
    color: #00ff88;
    font-size: 16px;
    font-weight: 600;
    width: 53px;
    height: 24px;  
}
/* Host Section */
#host{
    background-color: #1A0B2E;
    max-width: 1600px;
    margin: 0 auto;
}
.host-container{
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 120px;
}
.title h3{
    color: #ffffff;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    line-height: 58px;
    text-transform: capitalize;
}
.host-content{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 40px;
    background-color: #260c48 ;
    padding: 40px;
    /* height: 300px; */
    border-radius: 40px;
}
.host-content .image{
    width: 200px;
    /* height: 200px; */
}
.host-content-text h3{
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 12px;
}
.host-content-text p{
    color: #ffffff7b;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-transform: capitalize;
}
.host-icon{
    margin-top: 16px;
    display: flex;
    justify-content:flex-start;
    gap: 8px; 
}
.host-icon .icon{
    border: solid #533c72;
    border-radius: 100px;
    padding: 8px 10px;
}
/* Footer Section */
#footer{
    background-image: url(../assets/footer-bg.png);
    width: 100%;
    height: 412px;
    background-position: center;
    
}
#footer h2{
    padding-top: 120px;
    font-size: 48px;
    color: #FFFFFF;
    font-weight: 900;
    text-align: center
}
.wave{
    background: linear-gradient(to right,
            #F7E93F 0%,
            #FB09B4 51%,
            #9100F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 37px;
    
}
.footer-description{
    display: flex;
    align-items: center;
    color: #fff;
    gap: 20px;
    

}
.icon{
    display: flex;
    align-items: center;
    gap: 8px;
    text-align: center;
    font-size: 16px;
}
.icon img{
    width: 20px;
}
.copy-right{
    margin-top: 30px;
    color: #fff;
    text-align: center;
    font-size: 16px;
}








 